{% extends "base.html" %}
{% block title %} Editer un FILM (WTF) {% endblock %}
{% block body %}
<div class="container">
    <style>
        label {
            font-size: 24px;
        }
    </style>
    <style>
        .text-orange {
        color: orange;
        }

    </style>
	<div class="row">
		<div class="col-md-12">
            <center>
                <h2>
                     <span class="text-orange">Modifier </span> un entretien existant
                </h2>
                    <img src="https://cdn-icons-png.flaticon.com/512/6380/6380279.png" alt="image connexion" width="200" height="200">
                <form action="" method="POST" novalidate>
                    <!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
                    {{ form_update_film.hidden_tag() }}
                    <div class="form-group">
                        <p>
                            {{ form_update_film.description_film_update_wtf.label }}<br>
                            {{ form_update_film.description_film_update_wtf(cols=50, rows=3) }}<br>
                            {% for error in form_update_film.description_film_update_wtf.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form_update_film.duree_film_update_wtf.label }}<br>
                            {{ form_update_film.duree_film_update_wtf(size=32) }}<br>
                            {% for error in form_update_film.duree_film_update_wtf.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form_update_film.nom_film_update_wtf.label }}<br>
                            {{ form_update_film.nom_film_update_wtf(cols=50, rows=10) }}<br>
                            {% for error in form_update_film.nom_film_update_wtf.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                    </div>
                    {{ form_update_film.submit(class="btn btn-primary") }}
                </form>
            </center>
		</div>
	</div>
</div>
{% endblock %}

