{% extends "base.html" %}
{% block title %} Erreur 404 {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>
				<center>
				 Erreur 404
				</center>
			</h1>
			<main class="site-content">
				<center>
					<h3>
					J'ai l'impression que quelque chose ne va pas...
                    </h3>
                        <img src="https://cdn-icons-png.flaticon.com/512/564/564772.png" alt="Page introuvable" width="180" height="180">
                    <h3>
                        Vous pouvez me contacter en cas de problème :
                    </h3>
                    <a href="/contact" target="_blank"><h4>Contactez-nous</h4></a>
				</center>
				<center>
					<br>
					<br>
				</center>
			</main>
		</div>
	</div>
</div>
{% endblock %}
