{% extends "base.html" %}
{% block title %} A propos {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1>
				<center>A Propos !</center>
			</h1>
			<h3> <center>
				DB EntretienVoiture<br>
			</h3></center>
             <br>
                <h4>
                Ce site web est conçu dans un câdre du module i164 profesionnel
                </h4>
             <br>
			<ul>
				<li class="list-item">
					Faite par Nicolas Aquillon
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}