{% extends "base.html" %}
{% block title %} A propos {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1>
				<center>A Propos !</center>
			</h1>
                <center>
                    <br>
                    <h3>
                        Ce projet est spécifiquement conçu pour répondre aux besoins du module i164.
                    </h3>
                    <h3>
                        Qui se concentre sur la création de bases de données et l'insertion de données depuis un site web.
                    </h3>
                    <br>
                        <img src="https://cdn-icons-png.flaticon.com/512/3988/3988014.png" alt="image de à propos" width="200" height="200"
				    <br>
                </center>
            <br>
			<ul>
				<li class="list-item">
					Faite par Nicolas Aquillon
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}