{% extends "base.html" %}
{% block title %} Contact {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1>
				<center>Contactez-nous !</center>
			</h1>
            <br>
            <center>
			    <h3>
				    Pour toutes questions ou demande particulière, vous pouvez me contacter :
			    </h3>
                <div>
                    <i class="fa fa-envelope"></i>
                    <h4><a href="mailto:nicolasaquillon@gmail.com">support@dbvoiture.com</a></h4>
                </div>
                <center>
				    <br>
                        <img src="https://www.datenschutz.rlp.de/fileadmin/_processed_/6/1/csm_pixabay_1345971_cda85039a4.png" alt="image contact" width="180" height="180"
				    <br>
                </center>
                <h3>
				    Je suis à l'écoute et je ferrais de mon mieux pour vous aider
			    </h3>
            </center>

			<ul>
				<li class="list-item">
					Faite par Nicolas Aquillon
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}