<hr class="py-0 bg-light"/>
<footer class="footer-distributed">
      <div style="padding: 20px" class="footer-left">

        <span> <img id="imagescheuchzer" src="https://www.scheuchzer.ch/images/scheuchzer.png" alt="image voiture" width="15%"</span>

        <p class="footer-links">
          <br>
          <a href="/homepage" class="link-1">Home</a>

          <a href="/apropos">A propos</a>

          <a href="/contact">Contact</a>
          </br>
        </p>

        <p class="footer-company-name">Scheuchzer © 2023</p>
      </div>

      <div style="padding: 20px" class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>Chemin de Cudrex 1/4</span> Bussigny, Suisse</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+78 658 45 91</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:nicolasaquillon@gmail.com">support@dbvoiture.com</a></p>
        </div>

      </div>

      <div style="padding: 20px" class="footer-right">

        <p class="footer-company-about">
          <span>A propos du site web / </span>
          DBvoiture est un site web contenant une base de données rien que pour vous. Vous pouvez la modifier, l'éditer, ajouter, bref beaucoup de choses
        </p>

        <div class="footer-icons">

          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>

        </div>

      </div>

    </footer>