{% extends "base.html" %}
{% block title %} Homepage FILMS {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1>
				<center>Bienvenue !</center>
			</h1>
			<h3> <center>
				Cette DB est une gestion de voitures<br>
			</h3></center>
						<center>
				<br>

							<img src="https://images8.alphacoders.com/590/590330.jpg" alt="image voiture" width="640" height="360"
				<br>
						</center>
			<ul>
				<li class="list-item">
					Faite par Nicolas Aquillon
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}