{% extends "base.html" %}
{% block title %} Ajouter une voiture {% endblock %}
{% block body %}
<div class="container">
    <style>
        label {
            font-size: 24px;
        }
    </style>
    <style>
        .text-green {
        color: green;
        }

    </style>
	<div class="row">
		<div class="col-md-12">
            <center>
                <h2>
                     <span class="text-green">Ajouter</span> une nouvelle voiture
                </h2>

                        <img src="https://cdn-icons-png.flaticon.com/256/2554/2554896.png" alt="image connexion" width="200" height="200">
                <form action="" method="POST" novalidate>
                    <!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <p>
                            {{ form.nom_genre_wtf.label }}<br>
                            {{ form.nom_genre_wtf(size=32) }}<br>
                            {% for error in form.nom_genre_wtf.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.nom_modele_wtf.label }}<br>
                            {{ form.nom_modele_wtf(size=32) }}<br>
                            {% for error in form.nom_modele_wtf.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.nom_chevaux_wtf.label }}<br>
                            {{ form.nom_chevaux_wtf(size=32) }}<br>
                            {% for error in form.nom_chevaux_wtf.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                    </div>
                    {{ form.submit(class="btn btn-primary") }}
                </form>
            </center>
		</div>
	</div>
</div>
{% endblock %}

